.section {
  @apply flex w-full justify-between items-center px-4 z-20;
  @apply bg-white dark:bg-jwdMarine-1000 border-t border-lightPrimary-800/20 dark:border-jwdMarine-900/80;
}

.content {
  @apply flex flex-col lg:flex-row justify-between w-full;
  @apply gap-3 mx-auto items-center py-6 lg:py-3 max-w-screen-2xl;
}

.left,
.right {
  @apply flex items-center gap-4 text-xs opacity-60;
}

.jwdlogo {
  @apply flex border-r dark:border-white/10 border-black/25 pr-4;
}

.jwdinfo {
  @apply flex flex-col text-xxs leading-3;
}
