.section {
  @apply flex w-full justify-between items-center px-4 py-3 sticky lg:absolute top-0 left-0 right-0 z-20;
}

.left,
.center,
.right {
  @apply flex items-center gap-6;
}

.center {
  @apply justify-center mx-auto;
}

.right {
  @apply ml-auto;
}
