.section {
  @apply flex w-full sticky lg:absolute top-0 left-0 right-0;
  @apply transition-all duration-300 ease-in-out px-4 z-20;
}

.scrolled {
  @apply shadow-sm backdrop-blur-lg;
  @apply bg-lightPrimary-100/50 dark:bg-darkPrimary-900/50;
}

.content {
  @apply flex justify-between items-center w-full py-3;
  @apply gap-4 mx-auto max-w-screen-2xl;
}

.left,
.center,
.right {
  @apply flex items-center gap-6;
}

.center {
  @apply justify-center mx-auto;
}

.right {
  @apply ml-auto;
}
