.main {
  @apply flex flex-col w-full relative z-0;
  @apply pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)];
}

.background {
  @apply bg-lightPrimary-500/50 dark:bg-darkPrimary-500/50;
  @apply absolute flex inset-0 h-full w-full z-[1] bg-[length:16px_16px];
  @apply bg-[radial-gradient(#4A4A4A10_1px,transparent_1px)] dark:bg-[radial-gradient(#EAEAEA10_1px,transparent_1px)];
  @apply [mask-image:radial-gradient(ellipse_100%_90%_at_50%_0%,_#000000_40%,_transparent_100%)];
  @apply [--webkit-mask-image:radial-gradient(ellipse_100%_90%_at_50%_0%,_#000000_40%,_transparent_100%)];
}
