.wrapper {
  @apply flex w-full h-dvh m-0 p-0 z-10 transition-all duration-300 relative overflow-hidden;
}

.main {
  @apply flex flex-col flex-1 h-full relative z-0;
}

.content {
  @apply flex flex-1 flex-col w-full relative overflow-y-auto 
    [&::-webkit-scrollbar]:w-[2px] z-10
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-track]:bg-lightBorders-500
    [&::-webkit-scrollbar-thumb]:bg-lightSecondary-800
    dark:[&::-webkit-scrollbar-track]:bg-darkBorders-500
    dark:[&::-webkit-scrollbar-thumb]:bg-darkSecondary-500;
}

.intro {
  @apply justify-center items-center space-y-4 z-10 px-4 -mt-14;
}
