.section {
  @apply flex flex-1 flex-col w-full relative overflow-y-auto 
  [&::-webkit-scrollbar]:w-[2px] z-10
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-track]:bg-lightBorders-500
  [&::-webkit-scrollbar-thumb]:bg-lightSecondary-800
  dark:[&::-webkit-scrollbar-track]:bg-darkBorders-500
  dark:[&::-webkit-scrollbar-thumb]:bg-darkSecondary-500;
}

.wrapper {
  @apply flex flex-col flex-1 space-y-4 w-full max-w-4xl mx-auto p-6 lg:px-0 lg:py-10;
}

.article {
  @apply flex items-start space-x-3 flex-row-reverse space-x-reverse animate-fade-up animate-once animate-duration-500;
}

.botArticle {
  @apply flex-row space-x-3 animate-delay-300;
}

.content {
  @apply flex flex-col rounded-l-xl rounded-b-xl;
  @apply break-words px-3 py-1 mt-6 max-w-[80%] shadow;

  @apply text-lightText-500 bg-lightSecondary-200;
  @apply dark:text-darkText-500 dark:bg-darkSecondary-500;
}

.botArticle .content {
  @apply max-w-[90%] p-4;
  @apply rounded-none rounded-tr-xl rounded-br-xl rounded-bl-xl;
  @apply bg-lightPrimary-100 dark:bg-darkPrimary-500/40;
}

.avatar {
  @apply leading-none text-base p-2 rounded-full shadow;
  @apply bg-lightSecondary-200 text-lightText-500;
  @apply dark:bg-darkSecondary-500 dark:text-darkText-500;
}

.botArticle .avatar {
  @apply bg-lightPrimary-100 dark:bg-darkPrimary-500/40;
}

.bottomRef {
  @apply flex w-full h-2;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply relative my-1 leading-normal;
}

.content h1 {
  @apply text-3xl;
}
.content h2 {
  @apply text-2xl;
}
.content h3 {
  @apply text-xl;
}
.content h4 {
  @apply text-lg;
}
.content h5 {
  @apply text-base;
}
.content h6 {
  @apply text-sm;
}

.content p {
  @apply relative my-1;
}

.content code {
  @apply inline-flex font-mono text-xs bg-gray-900 text-gray-200 rounded p-1.5 py-0.5;
}

.content pre {
  @apply font-mono text-sm bg-gray-900 text-gray-100 p-4 rounded-lg overflow-auto whitespace-pre-wrap my-4 shadow-md;
}

.content pre > code {
  @apply bg-transparent p-0 text-sm overflow-auto;
}

.content ul,
.content ol {
  @apply flex flex-col space-y-2 px-4 py-3;
}

.content ul {
  @apply list-disc;
}

.content ol {
  @apply list-decimal;
}
.content ul li::marker,
.content ol li::marker {
  @apply font-semibold;
}

.content table {
  @apply min-w-full my-4 shadow overflow-auto;
  @apply bg-slate-200 dark:bg-jwdAqua-500/5;
}

.content table th {
  @apply p-2 text-left font-semibold;
  @apply dark:bg-jwdAqua-100/10 bg-slate-300/70;
}

.content table th strong {
  @apply text-sm font-medium;
}

.content table tbody tr {
  @apply transition-all ease-in-out last-of-type:border-none;
  @apply dark:hover:bg-jwdAqua-100/5 hover:bg-slate-100;
  @apply border-slate-300/50 dark:border-jwdAqua-100/5 border-b;
}

.content table td {
  @apply p-2 text-xs;
}

.content hr {
  @apply flex w-full my-4 border-dashed border-jwdAqua-100/5;
}

@media (max-width: 640px) {
  .content table,
  .content table thead,
  .content table tbody,
  .content table tr,
  .content table th,
  .content table td {
    @apply block;
  }

  .content table {
    @apply border-none bg-transparent shadow-none;
    @apply dark:border-none dark:bg-transparent;
  }

  /* Hide the header row */
  .content table thead {
    @apply hidden;
  }

  /* Style each table row to look like a 'card' */
  .content table tr {
    @apply border rounded mb-2 p-2 shadow;
    @apply border-slate-300 bg-slate-200;
    @apply dark:border-jwdAqua-100/10 dark:bg-jwdAqua-500/10;
  }

  /* Display each cell as a block with a label */
  .content table td {
    @apply flex py-1 px-2 border-none first:font-bold first:text-sm first:pb-1.5;
  }

  /* Use ::before to add labels for each column */
  .content table tbody td::before {
    content: attr(data-label); /* Use the 'data-label' attribute as the label */
    @apply font-semibold bg-jwdAqua-500/5;
  }
}
