.wrapper {
  @apply flex flex-col justify-between w-[54px] shadow;
  @apply z-10 fixed lg:relative transition-all duration-300 top-0 left-0;
  @apply bg-lightBackground-200 dark:bg-jwdMarine-1000 bottom-0;
}

.isOpen {
  @apply w-96 lg:w-64;
}

.topbar {
  @apply flex w-full items-center p-3 gap-3;
}

.navigation {
  @apply flex flex-col px-3 py-6 mb-auto gap-8 lg:hidden;
}

.history {
  @apply flex flex-col w-full gap-1;
}

.promo {
  @apply flex p-3 lg:hidden;
}
