.section {
  @apply flex flex-col w-full max-w-6xl mx-auto p-4 gap-4;
}

.head {
  @apply flex flex-col gap-2 justify-center items-center;
}

.switch {
  @apply flex gap-2 items-center font-semibold text-xs;
}

.switch p {
  @apply opacity-60 transition-all duration-500;
}

.bubble {
  @apply text-xxs bg-orange-600 text-white rounded p-1 leading-none shadow-sm;
}

.switched {
  color: var(--mui-palette-tertiary-main);
  @apply !opacity-100;
}

.plans {
  @apply flex flex-col w-full justify-between items-center gap-6 md:gap-4 lg:gap-8 md:flex-row;
}

.plan {
  @apply flex flex-col w-full rounded-lg shadow-xl;
  @apply relative overflow-hidden border px-4 lg:px-6 py-10 gap-8;
  border-color: var(--mui-palette-primary-main);
  background-color: rgb(var(--mui-palette-primary-mainChannel) / 0.5);
}

.planTop {
  @apply flex flex-col justify-between items-center gap-2;
}

.planTitle {
  @apply flex items-center justify-between w-full;
}

.planDesc {
  @apply flex items-center justify-between opacity-70 text-xs pl-0.5 w-full -mt-2;
}

.planBadge {
  @apply flex bg-red-600 text-white leading-none shadow-md uppercase;
  @apply text-[8px] font-bold absolute top-3.5 -left-8 p-1.5 px-8 -rotate-45 tracking-widest;
}

.highlight {
  @apply md:py-12 border-none font-medium;
  color: var(--mui-palette-tertiary-contrastText);
  background-color: var(--mui-palette-tertiary-main);
}

.planFeatures {
  @apply flex flex-col gap-2.5 w-full;
}

.planFeaturesItem {
  @apply flex items-center gap-4;
}

.planActions {
  @apply flex justify-center items-center mt-8;
}
