.wrapper {
  @apply flex flex-col w-full rounded-lg shadow-xl;
  @apply relative overflow-hidden px-4 lg:px-8 py-10 gap-10;
  background-color: rgb(var(--mui-palette-primary-mainChannel) / 0.5);
}

.popular,
.current {
  @apply font-medium;
}

.current {
  color: var(--mui-palette-tertiary-contrastText);
  background-color: var(--mui-palette-tertiary-main);
}

.popular {
  color: var(--mui-palette-secondary-contrastText);
  background-color: var(--mui-palette-secondary-main);
}

.head {
  @apply flex flex-col justify-between items-center;
}

.title {
  @apply flex items-center justify-between w-full;
}

.subtitle {
  @apply flex items-center justify-between opacity-70 text-xs pl-0.5 w-full;
}

.planBadge {
  @apply flex bg-orange-600 text-white leading-none shadow-md uppercase;
  @apply text-[8px] font-bold absolute top-3.5 -left-8 p-1.5 px-8 -rotate-45 tracking-widest;
}

.current .planBadge {
  @apply dark:bg-green-700 bg-blue-600;
}

.features {
  @apply flex flex-col gap-2.5 w-full;
}

.feature {
  @apply flex items-center gap-4 text-xs;
}

.actions {
  @apply flex justify-center items-center;
}
