.section {
  @apply flex flex-col w-full overflow-y-auto h-full px-4 lg:px-0
  [&::-webkit-scrollbar]:w-[2px]
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-jwdAqua-100/20
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-jwdAqua-500
  dark:[&::-webkit-scrollbar-track]:bg-jwdAqua-100/20
  dark:[&::-webkit-scrollbar-thumb]:bg-jwdAqua-500;
}

.wrapper {
  @apply flex flex-col space-y-10 w-full max-w-5xl mx-auto;
}

.message {
  @apply flex break-words space-x-5 items-start p-3;
}

.bot {
  @apply bg-jwdMarine-400/20 shadow-md rounded-md;
}

.avatar {
  @apply rounded-md shadow-md p-2 leading-none text-xl;
}

.content {
  @apply pr-3 flex-1 overflow-hidden break-words;
}

.msg {
  @apply flex flex-col py-4;
}

.msg h1,
.msg h2,
.msg h3,
.msg h4,
.msg h5,
.msg h6 {
  @apply relative my-1 leading-normal;
}

.msg h1 {
  @apply text-3xl;
}
.msg h2 {
  @apply text-2xl;
}
.msg h3 {
  @apply text-xl;
}
.msg h4 {
  @apply text-lg;
}
.msg h5 {
  @apply text-base;
}
.msg h6 {
  @apply text-sm;
}

.msg p {
  @apply relative mb-2;
}

.msg code {
  @apply inline-flex font-mono text-xs bg-gray-900 rounded p-1.5 py-0.5;
}

.msg pre {
  @apply font-mono text-sm bg-gray-900 text-gray-100 p-4 rounded-lg overflow-auto whitespace-pre-wrap my-4 shadow-md;
}

.msg pre > code {
  @apply bg-transparent p-0 text-sm overflow-auto;
}

.msg ul,
.msg ol {
  @apply p-4 space-y-1.5 list-inside;
}

.msg ul {
  @apply list-disc;
}

.msg ol {
  @apply list-decimal;
}
.msg ul li::marker,
.msg ol li::marker {
  @apply font-semibold;
}

.msg table {
  @apply min-w-full bg-jwdAqua-100 border border-jwdAqua-100 my-4 shadow-md overflow-auto;
}

.msg table thead tr {
  @apply bg-jwdAqua-200;
}

.msg table th {
  @apply py-2 px-4 border-b border-jwdAqua-200 text-left font-semibold;
}

.msg table tbody tr {
  @apply hover:bg-jwdAqua-200 transition-all ease-in-out;
}

.msg table tbody td {
  @apply py-2 px-4 border-b border-jwdAqua-200;
}

.msg hr {
  @apply flex w-full my-4 border-dashed border-jwdAqua-300;
}

@media (max-width: 640px) {
  /* Apply flexbox to rows */
  .msg table,
  .msg table thead,
  .msg table tbody,
  .msg table tr,
  .msg table th,
  .msg table td {
    @apply block;
  }

  .msg table {
    @apply border-none bg-transparent;
  }

  /* Hide the header row */
  .msg table thead {
    @apply hidden;
  }

  /* Style each table row to look like a 'card' */
  .msg table tbody tr {
    @apply border border-jwdAqua-200 rounded mb-2 p-2 bg-jwdAqua-100;
  }

  /* Display each cell as a block with a label */
  .msg table tbody td {
    @apply flex py-1 px-2 border-none;
  }

  /* Use ::before to add labels for each column */
  .msg table tbody td::before {
    content: attr(data-label); /* Use the 'data-label' attribute as the label */
    @apply font-semibold text-jwdAqua-500;
  }
}
