.wrapper {
  @apply flex flex-col justify-between border-r
  top-0 bottom-0 left-0 z-10 backdrop-blur fixed lg:relative
  transition-all duration-300 w-72 lg:w-64 shadow-sm
  bg-slate-50 border-slate-200/50
  dark:bg-jwdMarine-900/30 dark:border-jwdMarine-900/70;
}

.narrow {
  @apply  -ml-72 lg:-ml-64 opacity-0;
}

.topbar {
  @apply flex w-full justify-between items-center p-3;
}

.navigation {
  @apply flex flex-col px-3 py-6 mb-auto space-y-6;
}

.chats {
  @apply flex flex-col w-full space-y-2;
}

.bottom {
  @apply flex items-center bg-jwdAqua-200/10 p-3;
}
