.section {
  @apply flex flex-col w-full items-center px-4 xl:px-0 sticky bottom-0 z-10;
}

.wrapper {
  @apply flex w-full max-w-4xl bg-jwdAqua-600/10 
  backdrop-blur-sm rounded-md border border-jwdAqua-100/10 shadow-md
  justify-between items-end space-x-2 p-2;
}

.wrapper > div {
  @apply flex;
}

.FieldRow {
  @apply relative w-full flex-1 space-x-2 px-2 items-end
  border-jwdAqua-100/20 border-dotted border-r;
}

.Buttons {
  @apply w-auto;
}

.icon {
  @apply text-base;
}

/* bottom */

.disclaimer {
  @apply flex text-xs font-light text-jwdAqua-900 tracking-wide py-1;
}

.image {
  @apply flex cursor-pointer relative;
}

.removeImg {
  @apply bg-amber-600 hover:bg-orange-600 absolute -top-1.5 -right-1.5 rounded-full leading-none transition-all pt-[1px] shadow-sm;
}
