.section {
  @apply flex flex-col flex-1 justify-center w-full items-center space-y-4 z-10 px-4;
}

.title,
.chip,
.subtitle {
  @apply animate-fade-up animate-once animate-duration-700;
}

.subtitle {
  @apply animate-delay-[200ms];
}

.chips {
  @apply flex flex-wrap w-full justify-center items-center !mt-6;
}

.chip {
  @apply !m-2;
}

.chip_0 {
  @apply !animate-delay-[300ms];
}

.chip_1 {
  @apply !animate-delay-[400ms];
}

.chip_2 {
  @apply !animate-delay-[500ms];
}

.chip_3 {
  @apply !animate-delay-[600ms];
}

.chip_4 {
  @apply !animate-delay-[700ms];
}

.chip_x {
  @apply !animate-delay-[800ms] text-3xl text-jwdMarine-200/50 
  cursor-pointer hover:text-jwdMarine-200/80 !mt-6 transition-all;
}

.options {
  @apply flex flex-col w-full justify-center items-center;
}
