.section {
  @apply flex flex-col w-full items-center px-4 xl:px-0 sticky bottom-0 z-10;
}

.wrapper {
  @apply flex flex-col md:flex-row w-full max-w-5xl bg-jwdMarine-900/90 
  backdrop-blur-sm rounded-md border border-jwdAqua-100/10 shadow-lg 
  justify-between items-end space-y-1 md:space-y-0 md:space-x-3 p-2;
}

.wrapper > div {
  @apply flex;
}

.FieldRow {
  @apply relative w-full md:w-auto flex-1;
}

.Buttons {
  @apply items-center w-full md:w-auto pt-2 md:py-1 space-x-1;
}

/* icons */

.spinner,
.send {
  @apply text-lg;
}

.spinner {
  @apply animate-spin;
}

.send {
  @apply cursor-pointer;
}

/* bottom */

.disclaimer {
  @apply flex text-xs font-light text-jwdAqua-500/50 tracking-wide py-1;
}

.removeImg {
  @apply bg-jwdAqua-400 p-1 text-[8px] absolute -top-1.5 -right-1.5;
}
