.wrapper {
  @apply flex flex-col justify-between border-r
  top-0 bottom-0 left-0 z-10 backdrop-blur fixed lg:relative
  transition-all duration-300 w-72 lg:w-64 shadow-sm
  bg-lightBackground-200 border-slate-200/50
  dark:bg-darkPrimary-900 dark:border-darkPrimary-800;
}

.narrow {
  @apply  -ml-72 lg:-ml-64 opacity-0;
}

.topbar {
  @apply flex w-full justify-between items-center p-3;
}

.navigation {
  @apply flex flex-col px-3 py-6 mb-auto space-y-6;
}

.chats {
  @apply flex flex-col w-full space-y-2;
}

.bottom {
  @apply flex items-center bg-white dark:bg-darkPrimary-700 p-3;
}
