.section {
  @apply flex flex-col w-full items-center px-4 xl:px-0 sticky bottom-[env(safe-area-inset-bottom)] z-20;
}

.wrapper {
  @apply flex w-full max-w-4xl space-x-2 p-2 border 
  justify-between items-end rounded-md shadow-md
  bg-jwdMarine-600 border-jwdMarine-800
  
 
  dark:bg-jwdAqua-600/10 dark:border-jwdAqua-100/10;
}

.wrapper > div {
  @apply flex;
}

.FieldRow {
  @apply relative w-full flex-1 space-x-2 px-2 items-end
  dark:border-jwdAqua-100/20 border-slate-300 border-dotted border-r;
}

.Buttons {
  @apply w-auto;
}

.icon {
  @apply text-base;
}

/* bottom */

.disclaimer {
  @apply flex text-xs font-light text-jwdAqua-900 tracking-wide py-1;
}

.image {
  @apply flex cursor-pointer relative;
}

.removeImg {
  @apply absolute -top-1.5 -right-1.5 rounded-full leading-none transition-all pt-[1px] shadow-sm
  bg-orange-600 hover:bg-amber-600 text-white;
}
