.wrapper {
  @apply flex flex-col justify-center w-full items-center space-y-4 mb-4 md:mb-0;
}

.title,
.chip,
.subtitle {
  @apply animate-fade-up animate-once animate-duration-700;
}

.subtitle {
  @apply animate-delay-[300ms];
}

.chips {
  @apply flex flex-wrap w-full justify-center items-center pt-4 md:pt-10;
}

.chip {
  @apply !m-2;
}
