.section {
  @apply flex w-full justify-center p-4 xl:px-0 sticky bottom-0 z-10;
}

.wrapper {
  @apply flex w-full max-w-5xl bg-jwdMarine-900/90 backdrop-blur-sm 
  p-2 rounded-md border border-jwdAqua-100/10 shadow-lg 
  justify-between items-start space-x-3;
}

.wrapper > div {
  @apply flex;
}

.FieldRow {
  @apply relative flex-1;
}

.Buttons {
  @apply items-center space-x-2 py-1;
}

.sendBtn {
  @apply absolute right-1 top-1 z-10;
}

/* icons */

.spinner,
.send {
  @apply text-lg;
}

.spinner {
  @apply animate-spin;
}

.send {
  @apply cursor-pointer;
}
