.section {
  @apply flex flex-col flex-1 w-full overflow-y-auto p-6 xl:px-0;
}

.wrapper {
  @apply flex flex-col space-y-4 w-full max-w-[60rem] mx-auto   
  [&::-webkit-scrollbar]:w-[2px]
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-jwdAqua-100/20
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-jwdAqua-500
  dark:[&::-webkit-scrollbar-track]:bg-jwdAqua-100/20
  dark:[&::-webkit-scrollbar-thumb]:bg-jwdAqua-500;
}

.article {
  @apply flex items-start space-x-3 flex-row-reverse space-x-reverse animate-fade-up animate-once animate-duration-500;
}

.botArticle {
  @apply flex-row space-x-3 animate-delay-300;
}

.content {
  @apply bg-jwdAqua-500/50 rounded-l-xl rounded-b-xl overflow-hidden
  break-words px-4 py-2 mt-6 shadow-md max-w-[70%] flex flex-col;
}

.botArticle .content {
  @apply bg-jwdAqua-900/20 rounded-none rounded-tr-xl rounded-br-xl rounded-bl-xl max-w-[88%];
}

.avatar {
  @apply bg-jwdAqua-500/50 border-jwdAqua-500/60 border leading-none text-base p-2 rounded-full text-white/80;
}

.botArticle .avatar {
  @apply bg-jwdAqua-900/20 border-jwdAqua-900/30;
}

.bottomRef {
  @apply flex w-full h-1;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply relative my-1 leading-normal;
}

.content h1 {
  @apply text-3xl;
}
.content h2 {
  @apply text-2xl;
}
.content h3 {
  @apply text-xl;
}
.content h4 {
  @apply text-lg;
}
.content h5 {
  @apply text-base;
}
.content h6 {
  @apply text-sm;
}

.content p {
  @apply relative my-1;
}

.content code {
  @apply inline-flex font-mono text-xs bg-gray-900 rounded p-1.5 py-0.5;
}

.content pre {
  @apply font-mono text-sm bg-gray-900 text-gray-100 p-4 rounded-lg overflow-auto whitespace-pre-wrap my-4 shadow-md;
}

.content pre > code {
  @apply bg-transparent p-0 text-sm overflow-auto;
}

.content ul,
.content ol {
  @apply p-4 space-y-1.5 list-inside;
}

.content ul {
  @apply list-disc;
}

.content ol {
  @apply list-decimal;
}
.content ul li::marker,
.content ol li::marker {
  @apply font-semibold;
}

.content table {
  @apply min-w-full bg-jwdAqua-500/5 border border-jwdAqua-100/5 my-4 shadow-md overflow-auto;
}

.content table thead tr {
  @apply bg-jwdAqua-100/20;
}

.content table th {
  @apply py-2 px-4 border-b border-jwdAqua-100/5 text-left font-semibold;
}

.content table tbody tr {
  @apply hover:bg-jwdAqua-100/5 transition-all ease-in-out;
}

.content table tbody td {
  @apply py-2 px-4 border-b border-jwdAqua-100/5;
}

.content hr {
  @apply flex w-full my-4 border-dashed border-jwdAqua-100/5;
}

@media (max-width: 640px) {
  /* Apply flexbox to rows */
  .content table,
  .content table thead,
  .content table tbody,
  .content table tr,
  .content table th,
  .content table td {
    @apply block;
  }

  .content table {
    @apply border-none bg-transparent;
  }

  /* Hide the header row */
  .content table thead {
    @apply hidden;
  }

  /* Style each table row to look like a 'card' */
  .content table tbody tr {
    @apply border border-jwdAqua-100/5 rounded mb-2 p-2 bg-jwdAqua-500/5;
  }

  /* Display each cell as a block with a label */
  .content table tbody td {
    @apply flex py-1 px-2 border-none;
  }

  /* Use ::before to add labels for each column */
  .content table tbody td::before {
    content: attr(data-label); /* Use the 'data-label' attribute as the label */
    @apply font-semibold bg-jwdAqua-500/5;
  }
}
