.wrapper {
  @apply flex flex-col w-64 bg-jwdMarine-400/5 transition-all duration-300 justify-between;
}

.narrow {
  @apply w-14;
}

.topbar {
  @apply flex w-full justify-between items-center p-3 
  backdrop-blur-sm border-b border-jwdAqua-100/20 bg-jwdAqua-500/60;
}

.navigation {
  @apply flex flex-col px-3 py-6 mb-auto space-y-6;
}

.chats {
  @apply flex flex-col w-full space-y-2;
}

.bottom {
  @apply flex items-center bg-jwdAqua-200/10 p-3;
}
