.section {
  @apply flex w-full max-w-5xl self-center justify-between items-center space-x-8 py-6 px-4 lg:px-0;
}

.spinner,
.send {
  @apply text-xl text-center self-start;
}

.spinner {
  @apply animate-spin;
}

.send {
  @apply cursor-pointer duration-100 hover:scale-125 ease-in;
}
