.wrapper {
  @apply flex bg-jwdAqua-500/10 justify-center items-center rounded mt-3 mb-2 overflow-hidden max-w-full max-h-max;
}

.showImg {
  @apply animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-in-out;
}
