.wrapper {
  @apply flex m-0 p-0;
}

.container {
  @apply flex space-x-2 bg-jwdAqua-500/50 justify-center items-center px-3 py-0.5 rounded-md shadow transition-all ease-in-out;
}

.icon {
  @apply animate-spin;
}
