.wrapper {
  @apply flex flex-col flex-1 w-full items-center;
  @apply gap-10 p-4 z-10 py-12 relative overflow-y-auto;
  @apply [&::-webkit-scrollbar]:w-[2px] [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full;
  @apply [&::-webkit-scrollbar-track]:bg-lightBorders-500 [&::-webkit-scrollbar-thumb]:bg-lightSecondary-800;
  @apply dark:[&::-webkit-scrollbar-track]:bg-darkBorders-500 dark:[&::-webkit-scrollbar-thumb]:bg-darkSecondary-500;
}

.hero {
  @apply flex flex-col w-full max-w-6xl justify-center items-center gap-6;
}

.head,
.intro,
.actions {
  @apply flex flex-col w-full text-center items-center max-w-2xl animate-fade-up animate-once;
}

.intro {
  @apply gap-8 animate-delay-300;
}

.actions {
  @apply animate-delay-700 gap-6;
}
