.wrapper {
  @apply flex flex-col flex-1 w-full items-center gap-10 p-0 mx-0 z-10 relative -mt-14 mb-10;
}

.hero {
  @apply flex w-full justify-between items-center pt-14 px-8;
  @apply bg-white/50 dark:bg-darkPrimary-900/50 shadow-sm;
}

.heroContent {
  @apply flex flex-col lg:flex-row justify-between mt-12;
  @apply lg:gap-5 lg:mt-0 mx-auto max-w-screen-2xl items-center;
}

.heroLeft,
.heroRight {
  @apply flex w-full lg:w-1/2 relative;
}

.heroLeft {
  @apply flex-col gap-12 items-center lg:items-start text-center lg:text-left;
}

.heroRight {
  @apply relative overflow-hidden self-end flex justify-center;
  @apply sm:min-h-[500px] xl:min-h-[600px] xxl:min-h-[700px];
}

.heroShadow {
  @apply absolute -bottom-28 left-1/2 -translate-x-1/2 w-[60%] h-[90%] z-0 rounded-full;
  @apply bg-lightSecondary-400/30 dark:bg-darkSecondary-400/20 blur-3xl;
}
