.wrapper {
  @apply flex flex-col w-full m-0 py-8 md:py-14 z-10 relative gap-10;
}

.section {
  @apply flex flex-col w-full max-w-6xl mx-auto px-4 gap-4;
}

.backBtn {
  @apply !absolute top-4 left-2;
}

.head {
  @apply flex flex-col gap-4 justify-center items-center;
}

.switch {
  @apply flex gap-2 items-center font-semibold text-xs;
}

.switch p {
  @apply opacity-60 transition-all duration-500;
}

.bubble {
  @apply text-xxs bg-orange-600 text-white rounded p-1 leading-none shadow-sm;
}

.switched {
  color: var(--mui-palette-tertiary-main);
  @apply !opacity-100;
}

.plans {
  @apply flex w-full justify-between gap-6 my-6 items-center flex-col md:flex-row;
}

.planHead {
  @apply flex gap-4 justify-between items-center;
}

.planPrice {
  @apply flex justify-between items-center;
}

.plan {
  @apply flex flex-col w-full p-6 rounded-lg shadow-xl border;
  border-color: var(--mui-palette-primary-main);
  background-color: rgb(var(--mui-palette-primary-mainChannel) / 0.3);
}

.highlight {
  @apply md:py-10 border-none;
  color: var(--mui-palette-tertiary-contrastText);
  background-color: var(--mui-palette-tertiary-main);
}

.planFeatures {
  @apply flex flex-col gap-3 w-full my-8;
}

.planActions {
  @apply flex justify-center items-center my-4;
}
