.section {
  @apply flex flex-col w-full max-w-6xl mx-auto p-4 gap-6;
}

.switch {
  @apply flex gap-2 items-center font-semibold text-xs;
}

.switch p {
  @apply opacity-60 transition-all duration-500;
}

.bubble {
  @apply text-xxs bg-orange-600 text-white rounded p-1 leading-none shadow-sm;
}

.switched {
  color: var(--mui-palette-tertiary-main);
  @apply !opacity-100;
}

.plans {
  @apply flex flex-col w-full justify-between gap-6 md:gap-4 lg:gap-8 md:flex-row;
}

.planActions {
  @apply flex justify-center items-center mt-8;
}
