.section {
  @apply flex flex-col w-full max-w-6xl mx-auto p-4 gap-8;
}

.hero {
  @apply flex flex-col md:flex-row justify-between items-start;
  @apply rounded-lg shadow-md border p-6 gap-8 w-full;

  border-color: var(--mui-palette-primary-main);
  background-color: rgb(var(--mui-palette-primary-mainChannel) / 0.5);
}

.heroImg {
  @apply flex flex-1 gap-4 lg:gap-8 items-center;
}

.heroImgContent {
  @apply flex flex-col flex-1;
}

.heroContent {
  @apply flex flex-col justify-between gap-2 w-full lg:max-w-[30%];
}

.heroPlan {
  @apply flex w-full lg:max-w-[25%];
}
