.section {
  @apply flex flex-col w-full max-w-6xl mx-auto p-4 gap-6;
}

.head {
  @apply flex justify-center items-center;
}

.table {
  @apply flex flex-col w-full;
}

.tableHead {
  @apply flex justify-between items-center dark:text-slate-300 text-slate-600;
  @apply py-1.5 px-3 rounded-md dark:bg-slate-300/10 bg-slate-300/30 mb-3;
  @apply tracking-wider font-medium uppercase text-xs gap-4;
}

.tableRow {
  @apply flex justify-between items-center px-3 text-sm text-slate-500 mt-1;
  @apply transition-colors duration-200 ease-in-out  rounded-md py-1 gap-4;
  @apply dark:hover:bg-slate-300/5 hover:bg-slate-300/20 dark:text-slate-400;
}

.tableEmpty {
  @apply flex justify-center items-center mt-6 font-light text-xs;
  @apply dark:text-slate-400 text-slate-500;
}

.active, .inactive {
  @apply inline-flex justify-center items-center bg-green-700;
  @apply text-xxs leading-none p-1 rounded text-white;
}

.inactive {
  @apply bg-slate-300 text-slate-400 dark:bg-slate-300/10 dark:text-slate-400;
}
