.main {
  @apply flex flex-col flex-1 w-full h-dvh relative
  pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)];
}

.background {
  @apply absolute flex inset-0 h-full w-full z-0 bg-lightPrimary-500/85 dark:bg-darkPrimary-900/85
  bg-[length:16px_16px] bg-[radial-gradient(#4A4A4A10_1px,transparent_1px)] 
  dark:bg-[radial-gradient(#EAEAEA10_1px,transparent_1px)]
  [mask-image:radial-gradient(ellipse_100%_96%_at_50%_0%,_#000000_40%,_transparent_100%)] 
  [--webkit-mask-image:radial-gradient(ellipse_100%_96%_at_50%_0%,_#000000_40%,_transparent_100%)];
}
