.section {
  @apply flex flex-col w-full min-h-screen items-center justify-center space-y-12 px-4 z-10 overflow-hidden;
}

.head,
.intro,
.actions {
  @apply flex flex-col w-full text-center items-center max-w-2xl animate-fade-up animate-once;
}

.intro {
  @apply space-y-8 xl:space-y-14 animate-delay-300;
}

.actions {
  @apply animate-delay-700;
}
