.section {
  @apply flex flex-col w-full h-screen items-center justify-center space-y-12 px-6;
}

.head,
.intro,
.actions {
  @apply flex flex-col w-full text-center items-center max-w-2xl;
}

.intro {
  @apply space-y-8 lg:space-y-14;
}
