.section {
  @apply flex flex-col w-full min-h-screen z-10;
}

.background {
  @apply absolute flex inset-0 h-full w-full z-0
    [background-size:16px_16px] 
    bg-[radial-gradient(#26D0CE10_1px,transparent_1px)]    
    [mask-image:radial-gradient(ellipse_100%_80%_at_50%_10%,#1A2980_40%,transparent_100%)];
}
