@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

/*  prevent iOS font size change */
html,
body {
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
  color: var(--foreground);
  background-color: var(--background) !important;
  @apply antialiased w-full m-0 p-0;
}

/*  all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

/* reset heading style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  @apply hover:underline transition-all ease-in text-jwdAqua-500 hover:text-white;
}
