@tailwind base;
@tailwind components;
@tailwind utilities;

/* Celeseon App Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply scroll-smooth antialiased bg-lightBackground-500 dark:bg-jwdMarine-1000;
    @apply pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)];
  }
}

/*  all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  @apply block max-w-full;
}

/* reset heading style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  @apply transition-all ease-in text-[color:--mui-palette-text-secondary]
  hover:text-jwdMarine-500 dark:hover:text-white;
}
